@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.bg-overlay {
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0d1117;
}

.white-shadow {
  box-shadow: 5px 6px 0px white;
  border: 3px solid #0d1117;
}

.dark-shadow {
  box-shadow: 5px 6px 0px #1b222b;
  border: 3px solid #0d1117;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #19202b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b3042;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a516b;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

  /* Hide navigation buttons on screens wider than 768px */

.event-page-swiper {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  @media (min-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: block !important;
    }
  }
}
